Orange1 = #FF9980
Orange2 = #FF724F
Orange3 = #FFAE15

CompareColor = rgb(254, 226, 172)


.compare-side
  &.left
    background-color CompareColor
    .chart-header
      .filterspec
        color black !important
        opacity 0.8
  &.right
    background-color white
  .chart-header
    border 0px solid white
  .filterspec
    color #555555
    font-size 14px
    position relative
    margin-top -5px
    padding-bottom 6px


