html
  head
    title TREND CALCULATOR
    meta(charset='utf-8')
    meta(property="og:image", content="http://nffdemo.sklardevelopment.com/assets/images/nff_logo_square_noBG.png")
    script(src='jquery-1.11.0.js')
    script(src='sugar.min.js')

    //script(src='highcharts/highcharts.js')
    script(src='highcharts/highcharts-3.0.10-full.js')

    script(src='utils/chroma.min.js')

    script(src='highsandbox.js')

    link(rel='stylesheet', href='highsandbox.css')
  body
    .chart
