<!DOCTYPE html>
html

  head
    meta(charset='utf-8')
    include googleanalytics.html
    link(rel='stylesheet', href='style.css')
    link(rel='stylesheet', href='stylemodernbrowser.css')

  body

    .body-inner
      .content-area
        .header.full-height
          .header-content
            a.logo(href='http://nonprofitfinancefund.org/', target='_blank')
            a.logotext(href='http://nonprofitfinancefund.org/', target='_blank') Nonprofit<br/>Finance Fund
            img.logo(src='assets/images/nff_logo_noBG.png')
            .bar-horiz.major
            .year 2015
            img.title-as-image(src="assets/images/shadowtitle_2015.png")
            .title(href='http://nonprofitfinancefund.org/', target='_blank')
              .year-smaller 
              .span-start 

            p.alert &nbsp;
            p.alert <a target=_nfflinkto href='http://nff.org'>Nonprofit Finance Fund</a>’s annual survey asks nonprofits in the US about their programs, financial health, and management strategies. This website provides a dynamic analyzer tool that allows users to filter the survey results by dimensions such as sector, size, and geography. 
            p.alert If you're seeing this screen, it means that you are using a device that is too small for our analyzer's layout to fit (e.g., a phone or tablet), or you are using a web browser that is too old to load this website.   For the best viewing experience, we recommend using a laptop or desktop computer running the latest version of your favorite browser.
            p.alert If you have any questions, please feel free to contact us at: <b>survey@nff.org</b>

            p &nbsp;
