<!DOCTYPE html>
html

  head
    meta(charset='utf-8')
    include googleanalytics.html
    link(rel='stylesheet', href='style.css')

  body

    .body-inner
      .content-area

        .header.fixed
          .header-content
            .button-hamburger
            .bar-horiz.major
            .year 2015
            .title 
              a.logo(href='http://nonprofitfinancefund.org/', target='_blank')
              .year-smaller 2015
              .span STATE
              .span-end OF THE NONPROFIT SECTOR
            .bar-horiz.minor
            .holder-nav-bar


        .header.full-height
          .header-content
            a.logo(href='http://nonprofitfinancefund.org/', target='_blank')
            a.logotext(href='http://nonprofitfinancefund.org/', target='_blank') Nonprofit<br/>Finance Fund
            img.logo(src='assets/images/nff_logo_noBG.png')
            .bar-horiz.major
            .year 2015
            img.title-as-image(src="assets/images/shadowtitle_2015.png")
            .title(href='http://nonprofitfinancefund.org/', target='_blank')
              .year-smaller 2015
              .span-start STATE OF THE

            p.alert <a target=_nfflinkto href='http://nff.org'>Nonprofit Finance Fund</a>’s annual survey asks nonprofits in the US about their programs, financial health, and management strategies. This website provides a dynamic analyzer tool that allows users to filter the survey results by dimensions such as sector, size, and geography. 
            p.alert If you're getting this screen, it means that your browser may be too old to load this website. We recommend updating to the latest browser version for the best viewing experience. 
            p.alert If you have any questions, please feel free to contact us at: <b>survey@nff.org</b>

            p &nbsp;
