<!DOCTYPE html>
html

  head
    meta(charset='utf-8')
    include googleanalytics.html

  body

    <p>Hello, and thank you for your interest in our 2015 Survey Analyzer.
    
    <p>Unfortunately, our presentation requires a modern browser.  It is best presented on these browsers:
    
    <ul>
    
    <li>Internet Explorer: versions 9, 10, and 11</li>
    
    <li>Chrome: all versions issued after 2013</li>
    
    <li>Firefox: all versions issued after 2013</li>
    
    </ul>
