body.print
  background-color white

  .infotip
    display none !important

  .filtration-active-reminder
    border 0px solid white !important
    background-color rgba(0,0,0, 0.07) !important
    margin-left 20px
    margin-right 20px

  .section.feature
    background-color white !important
    .section-title
      color black !important

  .overlay
  #nav-bar
  .button-contact
    display none !important
  
  .filtration-active-reminder
    .print
      display block !important
    .web
      display none !important

  #filter-area
  #filter-area-placeholder
    display none !important
  .body-inner
    display: block !important
    margin-left 0px
    .content-area
      display: block !important
      margin-left 0px
      .header.fixed
        display none !important


  .section
    .section-commentary
      color black !important
    .showcase
      border 1px solid black
      background-color white
      .title
        color black !important
    .buttons
      display none !important

    
  .header.full-height
    padding-top 0px
    background-color white
    img.title-as-image
      display none
    .title
      opacity 1
    img.logo
      display block !important
      position absolute
      top 25px
      left 20px
      width 80px * 1.22
      height 60px * 1.22
    .bar-horiz.major
      background-color white
    .bar-horiz.minor
      border-top 2pt solid black
      background-color white
    a
      display none !important
